@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  height: 100vh;
}

#root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1em + 1vw) !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 100px;
}

.current__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.current__container::after {
  background-image: linear-gradient(321deg, rgba(0, 0, 0, 0.52) 26%, rgba(0, 0, 0, .5) 100%);
  background-image: -moz-linear-gradient(321deg, rgba(0, 0, 0, 0.52) 26%, rgba(0, 0, 0, .5) 100%);
  background-image: -ms-linear-gradient(321deg, rgba(0, 0, 0, 0.52) 26%, rgba(0, 0, 0, .5) 100%);
  background-image: -o-linear-gradient(321deg, rgba(0, 0, 0, 0.52) 26%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-linear-gradient(321deg, rgba(0, 0, 0, 0.52) 26%, rgba(0, 0, 0, .5) 100%);
  content: "\00a0";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.current__weather {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
  padding: 1rem;
}

.left {
  border-right: 1px solid rgba(128, 128, 128, 0.534);
}

.right {
  align-items: center;
  justify-content: center;
}

.search__input {
  border-radius: 10px;
  background: rgba(204, 204, 204, 0.603);
  color: rgb(44, 44, 44);
  box-shadow: none;
  border: 1px solid rgba(128, 128, 128, 0.534);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 2vw;
  padding: 10px;
  cursor: pointer;
}

.search__input:hover {
  background: #ccc;
}

.search__input:focus {
  outline-width: 0;
}

.search__submit {
  font-size: 2vw;
  padding: 10px;
  background: rgba(204, 204, 204, 0.603);
  border: 1px solid rgba(128, 128, 128, 0.534);
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.search__submit:active {
  background-color: #ccc;
}

.current__weather>.current__temp {
  padding: 0;
  margin: 0;
  font-size: 10rem;
  display: flex;
}

.weather__visuals {
  display: flex;
  align-items: center;
}

.weather__visuals>p {
  margin: 10%;
  font-size: 3.5vw;
}

.current_weather_title {
  font-size: 1rem;
}

.weather__icon {
  width: 10vw;
  object-fit: cover;
  margin: -10%;
}


.day__container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  color: darkslategrey;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.day {
  align-self: stretch;
  border-right: 1px solid rgba(211, 211, 211, 0.507);
  flex-grow: 1;
  min-width: 180px;
  width: 10vw;
  min-height: 100px;
  margin: 2.5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2.5vh .25vw .5vh .25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


h5, h6 {
  margin: 0;
  padding: 0;
}


.day p, h3 {
  margin: 0;
  padding: 0;
}


.day img {
  align-self: center;
  margin: 0;
  padding: 0;
  margin-bottom: -2.5vw;
  margin-top: -.5vw;
  width: 10vw;
}

.temp {
  justify-content: center;
}

.temp>.high {
  font-weight: bold;
  align-self: center;
}

.temp>.low {
  color: gray;
  font-size: calc(.5em + .25vw);
}